{% extends 'main/_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="heading">
    <h3 style="width: 680px;">{{ heading }}</h3>
    <a href="{% url 'groups:edit_group' group.id %}">
      <button class="btn"><i class="fas fa-edit"></i> Редактировать</button>
    </a>
    <a href="{% url 'groups:delete_group' group.id %}">
      <button class="btn"><i class="fas fa-trash-alt"></i> Удалить</button>
    </a>
  </div>
  {% if group %}
    <div class="card">
      <div class="card-header">
        <span class="card-header-text">{{ group.groupname }}</span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ group.groupdescription|linebreaksbr }}</p>
        {% if group.date_update %}
        <p class="card-text-secondary">Создано: {{ group.date_create }}</p>
        <p class="card-text-secondary">Обновлено: {{ group.date_update }}</p>
        {% else %}
        <p class="card-text-secondary">Создано: {{ group.date_create }}</p>
        {% endif %}
      </div>
    </div>
  {% else %}
    <h3>Заметки нет</h3>
  {% endif %}
{% endblock %}