{% extends 'main/_layout.html' %}

{% block title %}Мои заметки{% endblock %}

{% block content %}
<div class="features">
  <h1>Мои заметки</h1>
  <a href="{% url 'add_note' %}"><button class="btn btn-info"><i class="fa fa-plus-circle"></i>Добавить заметку</button></a>
  {% if notes %}
  {% for el in notes %}
    <div class="card">
      <h3 class="card-header">{{el.title}}</h3>
      <div class="card-body">
        <p class="card-text">{{el.full_text|linebreaksbr}}</p>
        <p class="card-text">{{el.date}}</p>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h2>Заметок пока нет</h2>
  {% endif %}
</div>
{% endblock %}