{% extends 'main/_layout.html' %}

{% block title %}{{ title }} - {{note.title}}{% endblock %}

{% block content %}
  <div class="heading">
    <a href="{% url 'groups:view_groups' %}">
      <button class="btn btn-back"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </a>
    <h3 style="width: 665px;">{{ heading }}</h3>
    <a href="{% url 'notes:edit_note' note.id %}">
      <button class="btn"><i class="fas fa-edit"></i> Редактировать</button>
    </a>
    <a href="{% url 'notes:delete_note' note.id %}" onclick="return confirmDelete();">
      <button class="btn"><i class="fas fa-trash-alt"></i> Удалить</button>
    </a>
  </div>
  {% if note %}
    <div class="card">
      <div class="card-header">
        <span class="card-header-text">{{ note.preview }}</span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ note.full_text|safe }}</p>
        <p class="card-text-secondary">Создано: {{ note.date_create }}</p>
        {% if note.date_update %}
        <p class="card-text-secondary">Обновлено: {{ note.date_update }}</p>
        {% endif %}
      </div>
    </div>
  {% else %}
    <h3>Заметки нет</h3>
  {% endif %}
{% endblock %}