{% extends 'main/_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <a href="{% url 'notes:add_note' %}"><button class="btn btn-info" style="margin: 0px 0px 5px 0px;"><i class="fa fa-plus-circle"></i>Добавить заметку</button></a>
  {% if notes %}
  {% for note in notes %}
    <div class="card"  style="margin: 0px 0px 5px 0px;">
      <div class="card-header bg-secondary bg-gradient mb-3">
        <a href="{% url 'notes:detail' note.id %}" style="text-decoration: none;">
          <h5 class="text-light">{{ note.title }}</h5>
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">{{ note.preview|linebreaksbr }}</p>
        <p class="text-secondary text-opacity-75">{{ note.date }}</p>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h2>Заметок пока нет</h2>
  {% endif %}
{% endblock %}