{% extends 'main/_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% if note %}
    <div class="card">
      <div class="card-header">
        <h5>{{ note.preview }}</h5>
        <a href="{% url 'notes:edit_note' note.id %}" style="text-decoration: none;" class="text-secondary">Редактировать</a>
        |
        <a href="{% url 'notes:delete_note' note.id %}" style="text-decoration: none;" class="text-secondary">Удалить</a>
      </div>
      <div class="card-body">
        <p class="card-text">{{ note.full_text|linebreaksbr }}</p>
        <p class="card-text">{{ note.date }}</p>
      </div>
    </div>
  {% else %}
    <h3>Заметки нет</h3>
  {% endif %}
{% endblock %}