{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="wrapper">
    <div class="logo">
      <img src="{% static 'main/img/notepad_logo.png' %}" all="Лого">
    </div>
    <div class="headermenu"><h3>Notepad</h3></div>
    <menu class="menu">
      <li class="menuItem">
        <a href="{% url 'main:home' %}">
          <i class="fas fa-home"></i>
          <span class="entry">Главная</span>
        </a>
      </li>
      <li class="menuItem">
        <a href="{% url 'notes:view_notes' %}">
          <i class="fas fa-sticky-note"></i>
          <span class="entry">Заметки</span>
        </a>
      </li>
      <li class="menuItem">
        <a href="{% url 'groups:view_groups' %}">
          <i class="fas fa-folder-open"></i>
          <span class="entry">Группы</span>
        </a>
      </li>
      <li class="menuItem">
        <a href="{% url 'main:about' %}">
          <i class="fas fa-address-card"></i>
          <span class="entry">Профиль</span>
        </a>
      </li>
    </menu>
  </div>
  <main>
    <div class="features">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>