@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;900&display=swap');

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    /*background-color: #2c2c2c2c;*/
    background-color: #5B5D6B;
    /*background-color: #D2D4DA;*/
    margin: 0 auto;
}

.wrapper {
    float: left;
    width: 227px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    background-color: #404252;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to bottom, #6600cc 0%, #990099 100%);
    border-image-slice: 1;
}

.logo img{
    width: 150px;
    margin: 0 40px;
    /*border: 1px solid green;*/
}
.headermenu h3 {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    /*border: 1px solid green;*/
}
.menu {
    padding: 0 10px;
    /*border: 1px solid red;*/
}

.menuItem {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    list-style: none;
    padding: 0 10px;
    /*border: 1px solid green;*/
}

.menuItem .entry {
    font-family: 'SF UI Display Heavy';
    font-size: 25px;
    padding-left: 30px;
}

.menuItem:hover {
    font-size: 18px;
    border: 0px solid #777986;
    background-color: #777986;
    border-radius: 6px;
}

.menuItem a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #B3B5BD;
}

.menuItem a:hover {
    text-decoration: none;
    color: #D2D4DA;
    /*border: 1px solid olive;*/
}

.btn {
    background-color: #990099;
    border: 0px solid;
    border-radius: 6px;
    padding: 7px 9px;
    color: #D2D4DA;
}

.btn:hover {
    background-color: #8f008f;
    cursor: pointer;
}

.btn-back {
    margin: 0;
    margin-right: 10px;
    float: left;
}

main {
    margin-left: 230px;
    
}
main .features {
    color: rgb(49, 49, 49);
    /*margin-top: 50px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    width: 970px;
    border: 0px solid;
}

main .features h1 {font-size: 30px; margin-left: 10px;}
main .features p {max-width: 900px; margin: 10px auto;}

.heading {
    padding: 8px 15px 8px 0px;
    margin: 10px 15px;
    border: 0px solid;
    border-radius: 6px;
    background: linear-gradient(to bottom, #B3B5BD 0%, #9496A1 100%);
}

.heading h3 {
    margin: 0;
    float: left;
    /*padding-right: 640px;*/
    /*padding: 0 10px;*/
}
/* ==== Стиль формы добавления и редактирования заметки ==== */
.headingForm {
    padding: 8px 15px 8px 0px;
    margin: 10px 15px;
    border: 0px solid;
    border-radius: 6px;
    background: linear-gradient(to bottom, #B3B5BD 0%, #9496A1 100%);
}

.headingForm h3 {
    margin: 0;
}

.noteForm {
    padding: 8px 15px 8px 0px;
    margin: 10px 15px;
    /*border: 1px solid yellowgreen;*/
    border-radius: 6px;
    background: linear-gradient(to bottom, #B3B5BD 0%, #9496A1 100%);
}

.noteForm p {
    margin: 0;
    padding: 0;
    /*border: 1px solid yellowgreen;*/
}

.noteForm p label {
    margin: 0;
    display: block;
    width: 200px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 100;
    /*border: 1px solid yellowgreen;*/
}

.noteForm p select option {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.noteForm p input, select, textarea {
    margin: 0;
    width: 600px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 100;
    border: 2px solid #990099;
    border-radius: 6px;
}

.noteForm p input:focus, select:focus, textarea:focus {
    border: 2px solid yellowgreen;
}

.noteForm p textarea {
    max-width: 820px;
    min-width: 600px;
}
/* ========================================================= */

.card {
    padding: 8px 15px;
    margin: 10px 15px;
    /*border: 1px solid yellowgreen;*/
    border-radius: 6px;
    background: linear-gradient(to bottom, #B3B5BD 0%, #9496A1 100%);
}

.card-header {
    margin: 0 20px;
    /*border: 1px solid yellowgreen;*/
}

.card-header a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card-header-text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: #404252;
}

.card-body {
    margin: 0 15px;
    padding: 0;
    /*border: 1px solid yellowgreen;*/
}

.card-body a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #404252;
    white-space: pre-wrap;
}

.card-text-secondary {
    font-size: 16px;
    font-weight: 100;
    padding-left: 475px;
    color: #404252;
    text-decoration: none;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

/*form {
    margin-left: 2%;
    width: 90%;
    margin-top: 30px;
}*/

@font-face {
    font-family: 'PT Sans Bold Italic';
    src: url("/static/main/fonts/PT_Sans_Bold_Italic.ttf");
}

@font-face {
    font-family: 'SF UI Display Heavy';
    src: url('/static/main/fonts/SF-UI-Display-Heavy.otf');
    }